body {
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

form {
    border: 3px solid #aeaeae;
    width: 280px;
    height: 260px;
    border-radius: 15px;
    display: flex;
    background: white;
    align-items: center;
    flex-direction: column;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 180px;
}
label {
    font-size: 13px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 50px;
    font-family: 'Open Sans';
    color: #565656;
    justify-content: space-between;
}
input {
    padding: 5px;
    outline: none;
    border: none;
    font-family: 'Open Sans';
    border-radius: 10px;
}
input:focus {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 7px;

}
button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background: #565656;
    color: white;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 500;
    transition: 0.4s;
}
button:hover {
    background-color: rgb(212, 212, 212);
    color: #565656;
    transition: 0.4s;
}
button:focus {
    background: white;
    color: rgb(38, 116, 234);
}